/* ************************************************************************ */ 
/*  provider.js NO padding (no visual frame) 
/* ************************************************************************ */ 
.cds--content {
  padding: 0rem;
  color: var(--cds-text-primary, #161616);
  will-change: margin-left;
}

/* ************************************************************************ */ 
/*  Login Page .background-img 
/* ************************************************************************ */ 
.background-img { 
    background: url(../../../public/app_images/light_blue_background_5k.png); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  .login-position {
    padding-left:  64px;
    padding-top: 120px;
}

.fullscreen {
  width: 100%;
  min-height: 100vh;
}


/* ************************************************************************ */ 
/*  Error Display                                                           */ 
/* ************************************************************************ */ 
.thisApp_ERROR_Display {
    color: #cc0000;
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  

/* ************************************************************************ */ 
/*  Tree View
/* ************************************************************************ */ 
.thisApp_Tree_Entry {
    font-size: 95%;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  
  .thisApp_Tree_Button {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    min-height: auto !important;       /* optional: noch kompakter */
    line-height: 1 !important;         /* optional: engerer Textfluss */
    font-size: 80% !important;
    border: none !important;
    box-shadow: none !important;
  } 