<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5p] [%d{ISO8601}] [%t] [%c] - %msg%n" />
        </Console>
    
        
    
    </Appenders>
    
    
    <Loggers>
        <!-- Console logger -->
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
        
        
    </Loggers>
</Configuration>
